{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jquery": true,
    "jest": true,
    "mocha": true
  },

  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "array-bracket-spacing": "error",
    "array-callback-return": "error",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "block-scoped-var": "error",
    "block-spacing": "error",
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "curly": "error",
    "default-case": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "eol-last": ["error", "always"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "global-require": "error",
    "guard-for-in": "error",
    "indent": ["error", 2],
    "max-depth": ["error", 4],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "max-lines": ["error", 500],
    "max-nested-callbacks": ["error", 3],
    "no-console": "off",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-empty": "error",
    "no-empty-function": "error",
    "no-extra-parens": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-irregular-whitespace": "error",
    "no-lone-blocks": "error",
    "no-magic-numbers": [
      "error",
      {
        "ignore": [
          -9,
          -8,
          -7,
          -6,
          -5,
          -4,
          -3,
          -2,
          -1,
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          3000,
          8080
        ]
      }
    ],
    "no-mixed-requires": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-new": "error",
    "no-new-wrappers": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "no-undef": ["off", {}],
    "no-unreachable": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", { "functions": false }],
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-rename": "error",
    "one-var": ["error", "never"],
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-template": "error",
    "quotes": ["error", "backtick"],
    "require-await": "error",
    "rest-spread-spacing": ["error"],
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "sort-imports": "error",
    "spaced-comment": ["error", "always"],
    "strict": "error",
    "vars-on-top": "error",
    "yoda": "error"
  }
}
