.maincontain {
    margin-top: 150px;
  }
.homecontain {
    margin-top: 100px;
    background-image: url("../assets/images/bookit.jpg");
    background-size: cover;
    width: 900px;
    height: 800px;
}
.mainbg {
    background-color: rgb(194, 172, 132);
}
.logo {
    border-width: 10px;
    border-color: tomato;
}