
.title {
    text-align: left;
    font-size: 24px;  
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.username{
    text-align: center;
    font-size: 26px;
}
.shade{
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}